.clearfix{overflow:hidden;_zoom:1;}
.float-left {
  float: left !important;
}
.float-right {
  float: right!important;
}
.text-center {text-align: center!important;}

.page-error {
  .error-info-container {
    margin: 32px auto; max-width: 600px;
  }
  .error-code {
    color: #727cf5;
    text-shadow: rgba(114, 124, 245, 0.3) 5px 1px,
      rgba(114, 124, 245, 0.2) 10px 3px;
    font-size: 5.25rem;
    line-height: 5.625rem;
    margin: 10px 0;
    margin-top: 32px;
  }
  .error-name {
    color: #fa5c7c;text-transform: uppercase; font-size: 20px;
  }

  .error-message {
    color: #98a6ad; margin: 15px 0;
  }
}
// 内边距 、外边距
@for $i from 0 through 6 {
    .m-#{$i}  {margin: (5px * $i) !important;}
    .mt-#{$i} {margin-top: (5px * $i) !important;}
    .mr-#{$i} {margin-right: (5px * $i) !important;}
    .mb-#{$i} {margin-bottom: (5px * $i) !important;}
    .ml-#{$i} {margin-left: (5px * $i) !important;}

    .p-#{$i}  {padding: (5px * $i) !important;}
    .pt-#{$i} {padding-top: (5px * $i) !important;}
    .pr-#{$i} {padding-right: (5px * $i) !important;}
    .pb-#{$i} {padding-bottom: (5px * $i) !important;}
    .pl-#{$i} {padding-left: (5px * $i) !important;}
}

// 文本对齐方式
.text-left {text-align: left !important;}
.text-center {text-align: center !important;}
.text-right {text-align: right !important;}

// 字体颜色定义

.text-white {
    color: #fff!important
}

.text-primary {
    color: #727cf5!important
}

a.text-primary:focus,a.text-primary:hover {
    color: #2b3af0!important
}

.text-secondary {
    color: #6c757d!important
}

a.text-secondary:focus,a.text-secondary:hover {
    color: #494f54!important
}

.text-success {
    color: #0acf97!important
}

a.text-success:focus,a.text-success:hover {
    color: #068662!important
}

.text-info {
    color: #39afd1!important
}

a.text-info:focus,a.text-info:hover {
    color: #247f9a!important
}

.text-warning {
    color: #ffbc00!important
}

a.text-warning:focus,a.text-warning:hover {
    color: #b38400!important
}

.text-danger {
    color: #fa5c7c!important
}

a.text-danger:focus,a.text-danger:hover {
    color: #f81240!important
}

.text-light {
    color: #e3eaef!important
}

a.text-light:focus,a.text-light:hover {
    color: #b2c5d3!important
}

.text-dark {
    color: #313a46!important
}

a.text-dark:focus,a.text-dark:hover {
    color: #121519!important
}

.text-body {
    color: #6c757d!important
}

.text-muted {
    color: #98a6ad!important
}