.clearfix{overflow:hidden;_zoom:1;}
.float-left {
  float: left !important;
}
.float-right {
  float: right!important;
}
.text-center {text-align: center!important;}

.page-error {
  .error-info-container {
    margin: 32px auto; max-width: 600px;
  }
  .error-code {
    color: #727cf5;
    text-shadow: rgba(114, 124, 245, 0.3) 5px 1px,
      rgba(114, 124, 245, 0.2) 10px 3px;
    font-size: 5.25rem;
    line-height: 5.625rem;
    margin: 10px 0;
    margin-top: 32px;
  }
  .error-name {
    color: #fa5c7c;text-transform: uppercase; font-size: 20px;
  }

  .error-message {
    color: #98a6ad; margin: 15px 0;
  }
}